RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

######################################
##
## ATIVA O GZIP PARA COMPRIMIR ARQUIVOS
##
######################################
<IfModule mod_deflate.c>
  <FilesMatch "\\.(js|css|html|htm|php|xml|json)$">
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>