.login-area { width: 200px; margin: 0 auto; padding-top: 30px; }
.table-responsive {width: 100%; border-collapse: collapse;}

/* Zebra striping */
.table-responsive tr:nth-of-type(odd) {background: #eee;}
.table-responsive tr:nth-of-type(odd) td,
.table-responsive tr:nth-of-type(odd) th{border-top: 1px solid #FDFDFD;}
.table-responsive th { background: #333; color: white; font-weight: bold;}
.table-responsive td, .table-responsive th { padding: 6px; border: 1px solid #ccc; text-align: left; min-height: 30px; font-family:  arial, sans-serif; }

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    .table-responsive,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr { display: block; }

    /* Hide table headers (but not display: none;, for accessibility) */
    .table-responsive tr th{position: absolute; top: -9999px; left: -9999px; }
    .table-responsive tr {border: 1px solid #ccc; border-top: 0px; }

    /* Behave  like a "row" */
    .table-responsive td {border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50%; }

    /* Now like a table header */
    .table-responsive td:before { position: absolute; /* Top/left values mimic padding */ top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: nowrap; }

    /* Label the data */
    .table-responsive td:nth-of-type(1):before { content: "Curso"; font-weight: bold; }
    .table-responsive td:nth-of-type(2):before { content: "Turma"; font-weight: bold;}
    .table-responsive td:nth-of-type(3):before { content: "Disciplina"; font-weight: bold;}
    .table-responsive td:nth-of-type(4):before { content: "Notas Parciais"; font-weight: bold;}
    .table-responsive td:nth-of-type(5):before { content: "Exame"; font-weight: bold;}
    .table-responsive td:nth-of-type(6):before { content: "Grau Final"; font-weight: bold;}
    .table-responsive td:nth-of-type(7):before { content: "Status"; font-weight: bold;}
    .table-responsive td:nth-of-type(8):before { content: "Faltas"; font-weight: bold;}
}

