.login-area { width: 200px; margin: 0 auto; padding-top: 30px; }
.table-responsive {width: 100%; border-collapse: collapse;}

/* Zebra striping */
.table-responsive tr:nth-of-type(odd) {background: #eee;}
.table-responsive tr:nth-of-type(odd) td,
.table-responsive tr:nth-of-type(odd) th{border-top: 1px solid #FDFDFD;}
.table-responsive td, .table-responsive th { padding: 6px; border: 1px solid #ccc; text-align: left; min-height: 30px; font-family:  arial, sans-serif; }
.table-responsive th { background: #FFF; color: #333; border:0px; border-bottom: 1px solid #ccc; font-weight: bold;}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    .table-responsive,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr { display: block; }

    /* Hide table headers (but not display: none;, for accessibility) */
    .table-responsive tr th{position: absolute; top: -9999px; left: -9999px; }
    .table-responsive tr {border: 1px solid #ccc; border-top: 0px; }

    /* Behave  like a "row" */
    .table-responsive td {border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50%; }

    /* Now like a table header */
    .table-responsive td:before { position: absolute; /* Top/left values mimic padding */ top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: nowrap; }

    /* Label the data */
    .table-responsive td:nth-of-type(1):before { content: "Curso"; font-weight: bold; }
    .table-responsive td:nth-of-type(2):before { content: "Turma"; font-weight: bold;}
    .table-responsive td:nth-of-type(3):before { content: "Disciplina"; font-weight: bold;}
    .table-responsive td:nth-of-type(4):before { content: "Notas Parciais"; font-weight: bold;}
    .table-responsive td:nth-of-type(5):before { content: "Exame"; font-weight: bold;}
    .table-responsive td:nth-of-type(6):before { content: "Grau Final"; font-weight: bold;}
    .table-responsive td:nth-of-type(7):before { content: "Status"; font-weight: bold;}
    .table-responsive td:nth-of-type(8):before { content: "Faltas"; font-weight: bold;}
}


.navbar{
    border-radius: 0px;
    background: #ebebeb;
    margin: 0;
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    box-shadow: 0 1px 2px #272727;
    z-index: 2000;
}

.navbar #logo{
    height: 50px;
}

#main{
    margin-top: 50px;
    min-height: 800px;
    overflow: hidden;
}

#sidebar-left{
    background: #89A9C1;
    position: relative;
    z-index: inherit;
    padding-bottom: 3000px !important;
    margin-bottom: -3000px !important;
}

#content {
    position: relative;
    z-index: 10;
    background: #ebebeb;
    box-shadow: 0 0 6px #131313;
    padding-bottom: 3000px !important;
    margin-bottom: -2980px !important;
    overflow: hidden;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.main-menu{
    margin: 0 -15px;
}

.main-menu a{
    color: #FFF;
}
.nav.main-menu a:hover,
.nav.main-menu a.active{
    background-color: #3E4D5E;
}

#breadcrumb {
    padding: 0;
    line-height: 40px;
    background: #3E4D5E;
    margin-bottom: 20px;
    color: #d8d8d8;
    font-weight: bold;
    padding-left: 20px;
}