.login-area
{
    width: 200px;
    margin: 0 auto;
    padding-top: 30px;
}
.table-responsive
{
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
}

/* Zebra striping */
.table-responsive tr:nth-of-type(odd)
{
    background: #eee;
}
.table-responsive tr:nth-of-type(odd) td,
.table-responsive tr:nth-of-type(odd) th
{
    border-top: 1px solid #fdfdfd;
}
.table-responsive td, .table-responsive th
{
    font-family: arial, sans-serif;

    min-height: 30px;
    padding: 6px;

    text-align: left;

    border: 1px solid #ccc;
}
.table-responsive th
{
    font-weight: bold;

    color: #333;
    border: 0;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)
{
    /* Force table to not be like tables anymore */
    .table-responsive,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr
    {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .table-responsive tr th
    {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .table-responsive tr
    {
        border: 1px solid #ccc;
        border-top: 0;
    }

    /* Behave  like a "row" */
    .table-responsive td
    {
        position: relative;

        padding-left: 50%;

        border: none;
        border-bottom: 1px solid #eee;
    }

    /* Now like a table header */
    .table-responsive td:before
    {
        position: absolute; /* Top/left values mimic padding */
        top: 6px;
        left: 6px;

        width: 45%;
        padding-right: 10px;

        white-space: nowrap;
    }

    /* Label the data */
    .table-responsive td:nth-of-type(1):before
    {
        font-weight: bold;

        content: 'Curso';
    }
    .table-responsive td:nth-of-type(2):before
    {
        font-weight: bold;

        content: 'Turma';
    }
    .table-responsive td:nth-of-type(3):before
    {
        font-weight: bold;

        content: 'Disciplina';
    }
    .table-responsive td:nth-of-type(4):before
    {
        font-weight: bold;

        content: 'Notas Parciais';
    }
    .table-responsive td:nth-of-type(5):before
    {
        font-weight: bold;

        content: 'Exame';
    }
    .table-responsive td:nth-of-type(6):before
    {
        font-weight: bold;

        content: 'Grau Final';
    }
    .table-responsive td:nth-of-type(7):before
    {
        font-weight: bold;

        content: 'Status';
    }
    .table-responsive td:nth-of-type(8):before
    {
        font-weight: bold;

        content: 'Faltas';
    }
}

.navbar
{
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 50px;
    margin: 0;

    border: 0;
    border-radius: 0;
    background: #ebebeb;
    box-shadow: 0 1px 2px #272727;
}
.navbar #logo
{
    height: 50px;
}
#main
{
    overflow: hidden;

    min-height: 800px;
    margin-top: 50px;
}
#sidebar-left
{
    position: relative;
    z-index: inherit;

    margin-bottom: -3000px !important;
    padding-bottom: 3000px !important;

    background: #89a9c1;
}
#content
{
    position: relative;
    z-index: 10;

    overflow: hidden;

    margin-bottom: -2980px !important;
    padding-bottom: 3000px !important;

    -webkit-transition: .2s;
       -moz-transition: .2s;
         -o-transition: .2s;
            transition: .2s;

    background: #ebebeb;
    box-shadow: 0 0 6px #131313;
}
.main-menu
{
    margin: 0 -15px;
}
.main-menu a
{
    color: #fff;
}
.nav.main-menu a:hover,
.nav.main-menu a.active
{
    background-color: #3e4d5e;
}
#breadcrumb
{
    font-weight: bold;
    line-height: 40px;

    margin-bottom: 20px;
    padding: 0;
    padding-left: 20px;

    color: #d8d8d8;
    background: #3e4d5e;
}

/* Configurando menu */
@media only screen and (max-width: 760px)
{
    #sidebar-left
    {
        position: fixed;
        left: -999px;

        height: 100%;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;

        -webkit-transition: .2s;
           -moz-transition: .2s;
             -o-transition: .2s;
                transition: .2s;

        box-shadow: 0 0 6px #131313;
    }
    .has-sidebar #sidebar-left
    {
        z-index: 30;
        left: 0;
    }
}
